Repository jellive/jell_gatsby_blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{json,css,scss,md}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"]
}

🔧 e2e 테스트 안정성 및 성능 개선
  _posts/dev/js/2025/08/18/typescript-safe-frontend-development-guide.md
Due: prettier --write, markdownlint-cli2 --fix

🔧 포스트 리스트 컴포넌트를 페이지네이션 지원 컴포넌트로 변경
  src/app/page.tsx
  src/app/tags/[tag]/page.tsx
  src/components/PostListWithPagination/index.tsx
  src/components/ui/pagination.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Fix E2E test for multiple nav elements
  tests/e2e/performance-accessibility.spec.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 구글 애드센스 계정 추가
  src/app/layout.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: 전역 스타일 및 포스트 콘텐츠 컴포넌트 추가, 공유 모달 및 소셜 공유 기능 구현
  .gitignore
  src/app/globals.css
  src/components/PostContent/index.tsx
  src/components/ShareModal/index.tsx
  src/components/SocialShare/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: AI 개발 도구 활용법 및 JavaScript 배열 중복 제거 방법에 대한 블로그 포스트 추가
  _drafts/dev/blog/2025/08/22/ai-development-tools-productivity-guide-2025.md
  _posts/dev/js/2025/08/23/JavaScript 배열 중복 제거 3가지 방법.md
Due: prettier --write, markdownlint-cli2 --fix

feat: 목차 관련 콘텐츠 숨기기 기능 추가
  src/app/globals.css
  src/components/PostContent/index.tsx
  src/components/PostList/index.tsx
  src/lib/markdown.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: PostContent 컴포넌트에서 TOC 관련 콘텐츠 필터링 개선
  _posts/dev/blog/2025/08/23/conditional-refactoring-with-objects.md
Due: prettier --write, markdownlint-cli2 --fix

feat: JavaScript 단축 평가 가이드 및 AI 개발 도구 활용법 블로그 포스트 추가
  _drafts/dev/js/2025/08/27/javascript-short-circuit-evaluation-guide.md
  _posts/dev/blog/2025/08/22/ai-development-tools-productivity-guide-2025.md
Due: prettier --write, markdownlint-cli2 --fix

🔧 Add ads.txt file for Google AdSense verification
  public/ads.txt
Due: none

🔧 ads.txt 파일 업데이트 및 Google AdSense 검증 추가
  _posts/dev/blog/2025/08/28/javascript-destructuring-complete-guide.md
Due: prettier --write, markdownlint-cli2 --fix

🔒 보안 강화: Next.js 취약점 해결 및 보안 헤더 적용
  .env.example
  .gitignore
  .mcp.json
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  next.config.js
  package-lock.json
  prd.txt
  public/_headers
  ~/.taskmaster/config.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat: Complete image optimization pipeline with WebP/AVIF support
  .taskmaster/tasks/tasks.json
  next.config.js
  package-lock.json
  package.json
  public/_headers
  scripts/generate-modern-formats.cjs
  scripts/optimize-images.cjs
  src/app/globals.css
  src/components/Header/index.tsx
  src/components/OptimizedImage/index.tsx
  src/components/ui/blog-card.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Fix header icon height consistency and restore GitHub profile image
  next.config.js
  src/app/globals.css
  src/components/Header/index.tsx
  src/components/__tests__/Header.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🎨 Fix Bio component email/website text color
  src/components/Bio/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

♻️ Enhance ESLint rules with progressive TypeScript standards
  .cursor/mcp.json
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
  .env
  .eslintrc.json
  .mcp.json
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  public/fonts/PretendardVariable.woff2
  public/images/profile.jpg
  src/app/posts/[...slug]/page.tsx
  src/app/search/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/components/CommandPalette/CommandPaletteProvider.tsx
  src/components/CommandPalette/index.tsx
  src/components/PostContent/index.tsx
  src/components/PostListWithPagination/index.tsx
  src/components/SearchInteractive/index.tsx
  src/components/SearchPage/index.tsx
  src/components/ui/pagination.tsx
  src/lib/markdown.ts
  ~/.taskmaster/config.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Complete Task 5: Test environment setup and code quality enhancement
  .taskmaster/tasks/tasks.json
  src/components/__tests__/BackNavigation.test.tsx
  src/components/__tests__/PostList.test.tsx
  src/components/__tests__/ThemeToggle.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

♿ Complete comprehensive accessibility improvements
  .taskmaster/tasks/tasks.json
  src/app/globals.css
  src/app/layout.tsx
  src/components/BackNavigation/index.tsx
  src/components/Header/index.tsx
  src/components/ThemeToggle/index.tsx
  src/components/__tests__/Header.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🎨 Complete mobile UX improvements with bottom navigation and responsive enhancements
  .taskmaster/tasks/tasks.json
  MOBILE_UX_SUMMARY.md
  src/app/globals.css
  src/app/layout.tsx
  src/components/BackNavigation/index.tsx
  src/components/Header/index.tsx
  src/components/MobileBottomNav/index.tsx
  src/components/ThemeToggle/index.tsx
  src/hooks/useDeviceType.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

✨ Add new blog post about Homebrew Node.js API environment issue and complete Task Master integration
  .taskmaster/tasks/tasks.json
  _posts/dev/js/tip/2025/08/31/homebrew-nodejs-taskmaster-ai-claude-code-api-issue.md
  src/components/Bio/index.tsx
  src/components/SearchInteractive/index.tsx
  src/components/ShareModal/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

🔧 Remove redundant mobile hamburger menu from header
  .taskmaster/tasks/tasks.json
  src/app/globals.css
  src/components/Header/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📱 Implement mobile performance optimization with conditional TOC rendering
  .taskmaster/tasks/tasks.json
  src/components/PostContent/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🎨 Fix theme toggle icon visibility with enhanced styling and fallbacks
  src/components/ThemeToggle/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Complete mobile UX optimization and usability audit
  .taskmaster/tasks/tasks.json
Due: prettier --write

🗑️ Remove .taskmaster directory from git tracking and add to .gitignore
  .gitignore
  .taskmaster/config.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
  ~/.taskmaster/config.json
Due: prettier --write

✨ Complete SEO enhancement implementation
  _posts/dev/js/tip/2025/08/31/next-server-process-management-guide.md
  public/robots.txt
  src/app/page.tsx
  src/app/robots.ts
  src/app/robots.txt/route.ts
  src/app/rss/route.ts
  src/app/sitemap.ts
  src/app/sitemap.xml/route.ts
  src/components/StructuredData/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

🧹 Clean up development files and update .gitignore
  .cursor/mcp.json
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
  .gitignore
  .mcp.json
  MOBILE_UX_SUMMARY.md
Due: prettier --write, markdownlint-cli2 --fix

🔧 Move sharp from devDependencies to dependencies
  package.json
Due: prettier --write

🔧 package-lock.json 업데이트: sharp 패키지를 dependencies에 추가하고 devDependencies에서 제거
  package-lock.json
Due: prettier --write

🔧 주석 처리된 버튼 컴포넌트 수정
  src/components/SocialShare/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 .gitignore 업데이트: jell_claude 항목 추가
  .gitignore
  _drafts/dev/js/2025/09/02/javascript-hoisting-complete-guide.md
Due: prettier --write, markdownlint-cli2 --fix

🗑️ JavaScript 호이스팅 가이드 문서 삭제
  _posts/dev/js/2025/09/02/javascript-hoisting-complete-guide.md
Due: prettier --write, markdownlint-cli2 --fix

✅ robots.txt 검증 기능 구현 (Task 1.1)
  .eslintignore
  scripts/validate-robots-txt.js
  src/lib/__tests__/seo-validation.test.ts
  src/lib/seo-validation.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ sitemap.xml 검증 기능 구현 (Task 1.2)
  scripts/validate-sitemap-xml.js
  src/lib/__tests__/seo-validation.test.ts
  src/lib/seo-validation.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Add page metadata validation (Task 2.1)
  src/lib/__tests__/seo-validation.test.ts
  src/lib/seo-validation.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Complete Task 3.1: Article schema implementation with TDD
  src/components/StructuredData/__tests__/index.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🚀 Task 4.1: LCP 최적화 TDD 완료
  .eslintrc.json
  .gitignore
  .rules
  _posts/dev/blog/2025/08/28/javascript-destructuring-complete-guide.md
  _posts/dev/js/2025/08/18/typescript-safe-frontend-development-guide.md
  _posts/dev/js/2025/09/02/javascript-hoisting-complete-guide.md
  next.config.js
  src/app/layout.tsx
  src/lib/__tests__/performance.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

✨ Task 4.2: 이미지 최적화 및 Lazy Loading 구현 완료
  src/components/OptimizedImage/index.tsx
  src/lib/__tests__/image-optimization.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✨ Task 4.3: 코드 스플리팅 및 번들 최적화 구현 완료
  src/app/layout.tsx
  src/lib/__tests__/bundle-optimization.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✨ Task 4.4: CLS 개선 (< 0.1) 검증 완료
  src/lib/__tests__/cls-improvement.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests
