Repository jellive/jell_gatsby_blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.{json,css,scss,md}": ["prettier --write"],
  "*.md": ["markdownlint-cli2 --fix"]
}

✅ Task 4.5: CSS/JS 최소화 및 압축 테스트 구현
  src/lib/__tests__/css-js-minification.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Task 1: 기술적 SEO 기반 검증 테스트 구현
  src/lib/__tests__/seo-foundation.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Task 2: 페이지 메타데이터 최적화 테스트 완료
  src/lib/__tests__/page-metadata.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Task 3: 구조화된 데이터 구현 검증 완료
  src/lib/__tests__/structured-data.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✨ 모바일 친화성 강화 (Task 5)
  src/app/globals.css
  src/app/layout.tsx
  src/components/FontAwesome/Fa.tsx
  src/components/MobileBottomNav.tsx
  src/lib/__tests__/mobile-friendliness.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Complete Task 7: URL Structure and Internal Links Optimization
  scripts/analyze-content-quality.cjs
  scripts/analyze-url-structure.cjs
  src/lib/__tests__/content-quality.test.ts
  src/lib/__tests__/url-optimization.test.ts
  src/lib/related-posts.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Task 9: 서버 및 호스팅 안정성 확보 완료
  scripts/check-server-health.cjs
  src/lib/__tests__/server-hosting.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Task 8: Google Search Console 모니터링 체계 구축 완료
  src/lib/__tests__/gsc-monitoring.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

✅ Task 10: 특정 기술 이슈 대응 완료
  src/app/layout.tsx
  src/lib/__tests__/googlebot-javascript.test.ts
  src/lib/__tests__/hreflang.test.ts
  src/lib/__tests__/javascript-rendering.test.ts
  src/lib/__tests__/nextjs-ssg-verification.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Netlify SSR 모드 전환 및 빌드 오류 수정
  netlify.toml
  next.config.js
  package.json
  public/404.html
  public/500.html
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/layout.tsx
  src/app/not-found.tsx
  src/components/CommandPalette/CommandPaletteProvider.tsx
  src/components/MobileBottomNav/index.tsx
  src/components/PostListWithPagination/index.tsx
  src/lib/__tests__/css-js-minification.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 포스트 페이지 스크롤 레이아웃 버그 수정
  .gitignore
  src/app/globals.css
  src/components/ReadingProgress/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📝 블로그 포스트 6개 AI 문투 제거 및 자연스럽게 수정
  _posts/dev/blog/2025/08/14/gatsby-to-nextjs-migration-experience.md
  _posts/dev/blog/2025/08/22/ai-development-tools-productivity-guide-2025.md
  _posts/dev/blog/2025/08/23/conditional-refactoring-with-objects.md
  _posts/dev/blog/2025/08/28/javascript-destructuring-complete-guide.md
  _posts/dev/js/2025/08/18/typescript-safe-frontend-development-guide.md
  _posts/dev/js/2025/09/02/javascript-hoisting-complete-guide.md
Due: prettier --write, markdownlint-cli2 --fix

🎨 블로그 전체 UI 리디자인 - Dark Ink Editorial 컨셉
  src/app/globals.css
  src/app/layout.tsx
  src/components/Bio/index.tsx
  src/components/Footer.tsx
  src/components/Header/index.tsx
  src/components/PostList/index.tsx
  src/components/__tests__/Header.test.tsx
  src/components/__tests__/PostList.test.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🎨 포스트/태그 페이지 에디토리얼 리디자인 + 검색 버튼 수정
  src/app/globals.css
  src/app/layout.tsx
  src/components/ClientProviders.tsx
  src/components/PostContent/index.tsx
  src/components/TagsInteractive/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🎨 TOC 에디토리얼 리디자인
  src/components/Toc/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 .gitignore 정리 및 누적 파일 커밋
  .gitignore
  _posts/dev/architecture/2025-01-05-llm-polling-vs-streaming.md
  _posts/dev/blog/2026/01/29/Next.js 블로그 자동화 도구 구축기.md
  _posts/dev/blog/2026/02/26/developer-para-gtd-automation-with-cursor-ai.md
  jest.setup.cjs
  next-env.d.ts
  scripts/analyze-content-quality.cjs
  scripts/analyze-url-structure.cjs
  scripts/blog/categories.js
  scripts/blog/generate/generator.js
  scripts/blog/generate/line-wrapper.js
  scripts/blog/generate/outline.js
  scripts/blog/generate/section-writer.js
  scripts/blog/obsidian/config.js
  scripts/blog/obsidian/reader.js
  scripts/blog/obsidian/transformer.js
  scripts/blog/quality/frontmatter-check.js
  scripts/blog/quality/structure-check.js
  scripts/blog/quality/tone-check.js
  scripts/blog/quality/validate.js
  scripts/blog/scaffold.js
  scripts/blog/style/analyze.js
  scripts/blog/style/profile.json
  scripts/blog/style/prompt-template.js
  scripts/check-server-health.cjs
  scripts/generate-modern-formats.cjs
  scripts/optimize-images.cjs
  src/app/global-error.tsx
  src/app/tags/page.tsx
  src/components/CommandPalette/index.tsx
  src/components/ImageModal/index.tsx
  src/components/OptimizedImage/index.tsx
  src/components/PostListWithPagination/index.tsx
  src/lib/__tests__/cls-improvement.test.ts
  src/lib/__tests__/nextjs-ssg-verification.test.ts
  src/lib/markdown.ts
  src/lib/security-utils.ts
  src/lib/theme-config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

🔒 보안 취약점 수정 (15개 → 0개)
  package-lock.json
  package.json
Due: prettier --write

🔧 Next.js 15 업그레이드 및 빌드 오류 수정
  .gitignore
  next-env.d.ts
  package-lock.json
  package.json
  src/app/error.tsx
  src/app/global-error.tsx
  src/app/layout.tsx
  src/components/ClientProviders.tsx
  src/pages/_document.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Static export 방식으로 전환 및 Netlify 배포 설정 수정
  netlify.toml
  next.config.js
  src/app/robots.ts
  src/app/sitemap.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

📝 포스팅 수정 - 표 형식 수정 및 실제 사례 일반화
  _posts/dev/blog/2026/02/26/developer-para-gtd-automation-with-cursor-ai.md
Due: prettier --write, markdownlint-cli2 --fix

🔧 remark-gfm 파이프라인 추가로 마크다운 테이블 렌더링 수정
  .gitignore
  src/lib/markdown.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 한국어 태그 URL 라우팅 버그 수정
  src/app/tags/[tag]/page.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Next.js 15.5.12 업그레이드 및 테스트 수정
  next-env.d.ts
  package-lock.json
  package.json
  src/app/layout.tsx
  src/app/page.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 MobileBottomNav 중복 렌더링 수정
  src/app/layout.tsx
  src/components/ClientProviders.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 MobileBottomNav 정적 import로 변경 (중복 렌더링 해결)
  src/app/layout.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔒 CSP 수정 및 콘솔 에러 해결
  netlify.toml
  next.config.js
  package.json
  public/_headers
  public/deployment-info.json
  scripts/generate-deployment-info.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 RSC prefetch 404 수정 - .txt 리다이렉트 경로 수정
  netlify.toml
Due: none

🔧 RSC prefetch 404 수정 - post-build 스크립트로 .txt 파일 생성
  netlify.toml
  package.json
  scripts/copy-rsc-payloads.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Disqus CSP 차단 수정 - frame-src에 disqus.com 추가
  next.config.js
  public/_headers
  src/stories/PostList.stories.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

🔧 Storybook story 파일 git 추적 제거 (Netlify 빌드 에러 수정)
  src/stories/PostList.stories.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: .gitignore에 Storybook 로컬 파일 추가
  .gitignore
Due: none

feat: add Projects page, 5 architecture posts, update .gitignore
  .eslintrc.json
  .gitignore
  README.md
  _posts/.markdownlint.json
  _posts/dev/architecture/2026/03/16/couple-planner-realtime-sync-conflict-resolution.md
  _posts/dev/architecture/2026/03/16/flutter-clean-architecture-webview-bridge.md
  _posts/dev/architecture/2026/03/16/nestjs-bullmq-ai-microservice-architecture.md
  _posts/dev/architecture/2026/03/16/turborepo-monorepo-real-world-experience.md
  _posts/dev/architecture/2026/03/16/vercel-ai-sdk-streaming-integration-guide.md
  next-env.d.ts
  package-lock.json
  package.json
  public/deployment-info.json
  src/app/globals.css
  src/app/page.tsx
  src/app/projects/page.tsx
  src/app/sitemap.ts
  src/components/Bio/index.tsx
  src/components/Header/index.tsx
  src/components/PostContent/index.tsx
  src/components/PostList/index.tsx
  src/components/ProjectCard/index.tsx
  src/components/SearchInteractive/index.tsx
  src/components/TagsInteractive/index.tsx
  src/components/Toc/index.tsx
  src/components/__tests__/PostList.test.tsx
  src/lib/projects.ts
  tailwind.config.js
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

fix: update project data with missing projects and tauri v2
  src/lib/projects.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix: add projects link to header navigation
  src/components/Header/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: upgrade Next.js from 15 to 16
  .eslintignore
  eslint.config.mjs
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  src/pages/_document.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore: gitignore debug screenshots and local tool dirs
  .gitignore
  public/deployment-info.json
Due: prettier --write

fix(blog): unstick mobile scroll by moving overflow-x off <html>
  src/app/globals.css
Due: prettier --write

chore(deps): clear high/low Dependabot alerts, leave only dev-only mids
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(ci): track docs/google-search-console-monitoring.md as test fixture
  .gitignore
  .markdownlint-cli2.jsonc
  docs/google-search-console-monitoring.md
Due: prettier --write, markdownlint-cli2 --fix

fix(lint): clear all 10 ESLint errors after Next 16 + React 19 upgrade
  eslint.config.mjs
  package.json
  src/components/CommandPalette/index.tsx
  src/components/Header/index.tsx
  src/components/ImageModal/index.tsx
  src/components/PostContent/index.tsx
  src/components/TagsInteractive/index.tsx
  src/components/ThemeToggle/index.tsx
  src/hooks/useDeviceType.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests
