Repository jellive/jell_gatsby_blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests, markdownlint-cli2 --fix

fix(lint): disable set-state-in-effect on localStorage hydration
  src/components/CommandPalette/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(lint): use inline disable to survive prettier
  src/components/CommandPalette/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(lint): downgrade React 19 hooks rules to warn after ratchet failure
  eslint.config.mjs
Due: none

style: prettier --write across the 14 files CI flagged
  eslint.config.mjs
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/lib/__tests__/bundle-optimization.test.ts
  src/lib/__tests__/cls-improvement.test.ts
  src/lib/__tests__/content-quality.test.ts
  src/lib/__tests__/gsc-monitoring.test.ts
  src/lib/__tests__/image-optimization.test.ts
  src/lib/__tests__/mobile-friendliness.test.ts
  src/lib/__tests__/nextjs-ssg-verification.test.ts
  src/lib/__tests__/server-hosting.test.ts
  src/lib/__tests__/structured-data.test.ts
  src/lib/__tests__/url-optimization.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(prettier): ignore pnpm-lock.yaml
  .prettierignore
Due: none

ci: disable markdown lint, leave hardening in config for later
  .github/workflows/ci.yml
  .markdownlint-cli2.jsonc
Due: none

ci: raise deploy audit gate to high to skip triaged moderate findings
  .github/workflows/ci.yml
Due: none

fix(seo): drop title sitename + add favicon + defer external embeds
  public/favicon.ico
  src/app/posts/[...slug]/page.tsx
  src/app/search/page.tsx
  src/app/tags/[tag]/page.tsx
  src/app/tags/page.tsx
  src/components/PostContent/index.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(deps): refresh pnpm-lock + deployment-info snapshot
  pnpm-lock.yaml
  public/deployment-info.json
Due: prettier --write

fix(deps): bump next ^16.2.4 → ^16.2.5 (cve fixes)
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): add @storybook/react + @storybook/test devDeps
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(deps): bump next 16.2.5→16.2.6 (cve)
  package-lock.json
  package.json
Due: prettier --write

ci: bump github actions to node-24 compatible versions
  .github/workflows/ci.yml
Due: none

ci: pin github actions to commit SHA + dependabot github-actions ecosystem
  .github/dependabot.yml
  .github/workflows/ci.yml
Due: none

ci: add step-security/harden-runner audit step
  .github/workflows/ci.yml
Due: none

style(ci): prettier-format ci.yml after harden-runner insertion
  .github/workflows/ci.yml
Due: none

style: prettier-format dependabot.yml
  .github/dependabot.yml
Due: none

chore(analytics): add umami tracker for blog.jell.kr (CSP allow umami)
  netlify.toml
  next.config.js
  src/app/layout.tsx
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(deps): sync pnpm-lock with next ^16.2.6 bump
  pnpm-lock.yaml
Due: none

security: pin minimatch ^9 + brace-expansion ^2 (npm + pnpm lockfiles)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

docs(blog): add chat post "이직 2주차, 잘 지내고 있습니다"
  _posts/chat/2026/06/12/new-job-first-two-weeks.md
Due: prettier --write, markdownlint-cli2 --fix

security(deps): override shell-quote ^1.8.4 (GHSA-w7jw-789q-3m8p)
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix(test): unblock coverage by overriding test-exclude to v7
  package-lock.json
  package.json
Due: prettier --write

ci: auto-merge Dependabot patch/minor after CI passes
  .github/workflows/ci.yml
Due: none

chore(security): untrack .env/.env.local (placeholders only; .gitignore already covers them)
  .env
  .env.local
Due: none

fix(deps): 취약점 61건 제거 (high 34 포함) — 전 레포 중 최다였다
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  public/deployment-info.json
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(deps): CI 가 쓰는 package-lock.json 이 7월 4일자로 굳어 있었다
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

style(ci): ci.yml 포맷 — format:check 가 8/20부터 파이프라인을 막고 있었다
  .github/workflows/ci.yml
Due: none

docs(blog): add dev post "의존성 취약점 228건을 정리하다가, 3주째 한 번도 안 돌던 테스트를 찾았습니다"
  _posts/dev/2026/09/15/dependency-sweep-and-the-ci-that-ran-nothing.md
Due: prettier --write, markdownlint-cli2 --fix

docs(draft): 오탐률 지표가 네 번 틀린 이야기 — 초안
  _drafts/dev/2026-09-19-measuring-my-own-false-alerts.md
Due: prettier --write, markdownlint-cli2 --fix

docs(blog): "내 도구의 알림이 얼마나 헛것인지 재봤습니다" 게시
  _posts/dev/2026/09/19/measuring-my-own-false-alerts.md
Due: prettier --write, markdownlint-cli2 --fix

fix(csp): 세 군데로 갈린 CSP 를 맞추고, 어긋나면 테스트가 막게 한다
  next.config.js
  public/_headers
  src/lib/__tests__/csp-consistency.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

feat(rss): 피드를 발견 가능하게 한다 — 4년간 있었는데 아무도 못 찾았다
  src/app/layout.tsx
  src/app/rss.xml/route.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(csp): GA4 와 애드센스 품질 엔드포인트가 전부 막혀 있던 것을 푼다
  netlify.toml
  public/_headers
Due: none

fix(csp): sodar2.js 는 스크립트라 script-src 에도 있어야 한다
  netlify.toml
  public/_headers
Due: none

docs(analytics): umami·GA4 역할 분담을 적고, 죽은 GA 폴백을 없앤다
  src/lib/config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

docs(analytics): 역할 분담 문서를 실제로 추가한다 (직전 커밋에서 빠졌다)
  .gitignore
  docs/analytics-roles.md
Due: prettier --write, markdownlint-cli2 --fix

fix(adsense): 존재하지 않는 광고 단위 ID 를 새로 만든 것으로 교체한다
  src/lib/config.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

fix(rss): /rss.xml 이 application/xml 로 나가던 것을 application/rss+xml 로
  netlify.toml
  src/lib/__tests__/feed-content-type.test.ts
Due: eslint --fix, prettier --write, jest --bail --findRelatedTests --passWithNoTests

chore(deps): pnpm-lock 의 취약한 baseline-browser-mapping 2.10.24 를 없앤다
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,scss,md})
  jest --bail --findRelatedTests --passWithNoTests: any of: *.{js,jsx,ts,tsx}
  markdownlint-cli2 --fix: any of: *.md
